.banner {
  border: 5px solid orange;
  padding: 10px;
  overflow: hidden;
  text-align: center;
}

.one {
  float: left;
}

.two {
  float: right;
  width: 350px;
  height: 200px;
}

p {
  clear: right;
}
