* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  float: left;
  height: 1200px;
  width: 33.33%;
}
.one {
  background: orange;
}
.two {
  background: blue;
}
.three {
  background: gold;
}
